/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav {
  background-color: #212121;
}

.logo {
  height: 50px;
  padding-left: 20px;
  margin-top: 6px;
}

.barra-navegacion {
  padding-left: 10px;
}


nav ul li:hover {
  background-color: #414040d0;
  border-radius: 10px;
}

p {
  line-height: 2rem;
}

#input-format {
  color: whitesmoke;
}

#boton-registrarse {
  margin-top: 15px;
  position: relative;
  right: -10%;
}

.sidenav-trigger {
  color: #26a69a;
}

#registro-banner {
  padding-top: 40px;
}

.parallax-container {
  min-height: 400px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: fill;
}

.parallax-container .section {
  width: 100%;
}


#card-image{
  height: 160px;
  object-fit: cover;
}



@media only screen and (max-width : 992px) {

  .parallax-container {
    min-height: 150px;
  }

  #index-banner.parallax-container {
    min-height: 500px;
  }

  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}